*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    color: rgb(165, 3, 3);
    background-color: cornsilk;
}

#reset-btn, #new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(33, 32, 32);
    color:rgb(211, 213, 214);
    border-radius:1rem;
    border: none;
}

#msg {
    color: rgb(255, 254, 252);
    font-size: 5vmin;
}

.msg-conatiner{
    height: 30vmin;
}
.hide{
    display: none;
}